.ant-layout-sider .ant-layout-sider-ligh  t{
  z-index: 2; 
}

@media only screen and (max-width: 992px){
  .ant-layout-sider .ant-layout-sider-light{
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
} 